.carouselWrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left {
  left: 20px;
}

.carouselViewport {
  width: 100%;
  overflow: hidden;
}

.codingCourses {
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: 20px;
  animation: autoScroll 25s linear infinite;
}

.carouselWrapper:hover .codingCourses {
  animation-play-state: paused;
}

@keyframes autoScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 10px));
  }
}

.cardProduct {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 1.3rem;
  background-color: hsl(271deg 25% 14%);
  transition: 0.3s ease;
}

.cardProduct:hover {
  transform: scale(1.03);
}

.carouselBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 20;
}

.carouselWrapper:hover .carouselBtn {
  opacity: 1;
}

.carouselBtn:hover {
  transform: scale(1.1);
}

.right {
  right: 20px;
}

.cardProduct button {
  padding: 0.5rem 1rem;
  border: 1px solid hsl(271deg 31% 36%);
  border-radius: 5px;
  background-color: hsl(271deg 63% 21%);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.cardProduct button:hover {
  background-color: hsl(271deg 63% 26%);
  border: 1px solid hsl(271deg 31% 36%);
  transform: scale(1.08);
}

.productPic {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}
