@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg: hsl(0, 0%, 0%);
  --primary: hsl(273, 74%, 18%);
  --secondary: hsl(273, 84%, 27%);
  --text: hsl(270, 68%, 39%);
  --textP: hsl(270, 66%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100dvh;
  background-color: var(--bg);
}

body {
  background: black;
  overflow-x: hidden;
}

#root {
  opacity: 0;
  animation: pageReveal 1.8s ease forwards;
}

@keyframes pageReveal {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: scale(1.02);
  }

  to {
    opacity: 1;
    filter: blur(0) brightness(1);
    transform: scale(1);
  }
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  color: var(--text);
}

p {
  font-family: "Inter", sans-serif;
  color: var(--textP);
}